a{
    text-decoration: none;
    color: darkcyan;
}
td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.col-9{
    width: 100%;
}
body, html {
    margin: 0;
    padding: 0;
}
.midiv{
   
    width: 100%;
    box-sizing: border-box;
    background-color: aquamarine;
}
html, body, .miDiv {
    width: 100%;
}